@page
@using System.Globalization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Coffity</title>
    <encoding utf-8></encoding>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Css/style.css")" asp-append-version="true" />
    <script>
    function changeHiddenValue() {
        var sortInput = document.getElementById("sort_input");
        var sortLabel = document.getElementById("sort_label");

        if (sortInput.value === "asc") {
            sortInput.value = "desc";
            sortLabel.innerText = "By name (desc)";
        } else {
            sortInput.value = "asc";
            sortLabel.innerText = "By name (asc)";
        }
    }
    </script>

</head>
<body>
<div>
    <div class="TopBar">
        <div style="font-size:2rem">
                
            @if (ViewBag.login != null && ViewBag.password != null)
            {
                <a href="/panel">Go back to panel</a>
            }
            else
            {
                <a href="/login">login</a>
                <a href="/register">register</a>
            }
        </div>
        <h1 class="Logo">Coffity &#9749; </h1>
        
        <h2>By <a>Mateusz</a> & <a>Patryk</a> </h2>
    </div>
    
    

    @if (ViewBag.coffe_list != null)
    {
        <form asp-controller="AppController" asp-action="HandleCategories" action="/filters" method="post">
            <p class="CategoryHeader">Categories:</p>
            <div class="CardList">
                @foreach ((string, bool) category in ViewBag.cats_list)
                {
                    <div class="Card">
                        <label>
                            <input type="checkbox" name="selectedCategories" value="@category.Item1" checked="@(category.Item2)"/>
                            @category.Item1.Replace('_', ' ')
                        </label>
                    </div>
                }
            </div>
            <div class="FilterWrapper">
                <div class="FilterDesc">
                    <h1>Sorting: </h1>
                    <input type="hidden" name="sort" id="sort_input" value="@ViewBag.sort"/>
                    <label id="sort_label">
                        <h1>By name (@ViewBag.sort)</h1></label>
                </div>
                <div>
                    <button type="button" onclick="changeHiddenValue()"><h3>Change sorting</h3></button>
                                    <button type="submit">Filter!</button>
                </div>
            </div>
        </form>
    }
    else {
        <p>No categories available.</p>
    }

    <p class="CategoryHeader">Coffees:</p>
    <ul class="CoffeeCardList">
        @if (ViewBag.coffe_list != null)
        {
            @foreach (ValueTuple<int, string, string, string> cof in ViewBag.coffe_list)
            {
                <li class="CoffeeCard">
                    <img src="@cof.Item3" class="CoffeImage"/>
                    @(cof.Item2) &nbsp;
                    <form asp-controller="AppController" asp-action="Coffe" action="/coffe" method="get">
                        <input type="hidden" id="id" name="id" value="@(cof.Item1)"/>
                        <div>
                            <button type="submit">Learn more!</button>
                        </div>
                    </form>
                </li>
            }
        }
    </ul>
</div>
</body>
</html>